--hide-void-return
--no-private
--verbose
--markup-provider=redcarpet
--markup=markdown
--main OVERVIEW.md

lib/**/*.rb
generated/**/*.rb
-
OVERVIEW.md
docs/getting-started.md
docs/installation.md
docs/auth.md
docs/api-keys.md
docs/oauth.md
docs/oauth-web.md
docs/oauth-installed.md
docs/oauth-server.md
docs/client-secrets.md
docs/logging.md
docs/media-upload.md
docs/pagination.md
docs/performance.md
MIGRATING.md
LICENSE
