--hide-void-return
--no-private
--verbose
--title=<%= api.gem_name %>
--markup-provider=redcarpet
--markup=markdown
--main OVERVIEW.md
lib/<%= api.base_path %>/*.rb
lib/<%= api.base_path %>.rb
-
OVERVIEW.md
CHANGELOG.md
LICENSE.md
