{
  <% if gem.api_id %>
    "api_id": "<%= gem.api_id %>",
  <% end %>
    "name_pretty": "<%= api.title %>"
    "distribution_name": "<%= api.gem_name %> API"
    "language": "ruby",
    "library_type": "REST"
}