<% if type.array? %>
<%= lead %>
:class => Array do
  include Representable::JSON::Collection
  items<%= include('representation_type', :lead => ' ' , :type => type.item_type, :api => api) %>
end
<% elsif type.basic? && ['Date', 'DateTime'].include?(type.name) %>
<%= lead %>type: <%= type.name %>
<% elsif type.schema_type %>
<%= lead %>
class: <%= type.name %>, decorator: <%= type.representation_class %>
<% end %>
